flows.json
[
    {
        "id": "ab1b0ea518202bba",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3442743711316c35",
        "type": "mqtt in",
        "z": "ab1b0ea518202bba",
        "name": "",
        "topic": "environments/environment-01/wastebins/wastebin-01/sensors/pir-01/events",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "8dfeaf083c7d1ada",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 300,
        "y": 160,
        "wires": [
            [
                "f9567001f8e1e427"
            ]
        ]
    },
    {
        "id": "c0c55b5e868ab60c",
        "type": "debug",
        "z": "ab1b0ea518202bba",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 140,
        "wires": []
    },
    {
        "id": "f9567001f8e1e427",
        "type": "switch",
        "z": "ab1b0ea518202bba",
        "name": "",
        "property": "payload.motion_state",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "detected",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "clear",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 130,
        "y": 400,
        "wires": [
            [
                "1f1c7a31bde58a5e",
                "753351a20e4d243f"
            ],
            [
                "b474a8ea81270d4a"
            ]
        ]
    },
    {
        "id": "1f1c7a31bde58a5e",
        "type": "function",
        "z": "ab1b0ea518202bba",
        "name": "function 1",
        "func": "let eventLog = flow.get(\"motion_events\");\n\n// Initialize event log if it does not exist\nif (!eventLog) {\n    eventLog = [];\n}\n\nconst currentTime = Date.now();\nconst windowSizeMinutes = 2;\nconst timeWindow = windowSizeMinutes * 60 * 1000;\n\n// Add current timestamp\neventLog.push(currentTime);\n\n// Remove events older than or equal to 10 minutes\neventLog = eventLog.filter(eventTime => {\n    return (currentTime - eventTime) < timeWindow;\n});\n\n// Save updated log\nflow.set(\"motion_events\", eventLog);\n\nconst eventCount = eventLog.length;\n\nlet activityLevel;\n\n// Determine activity level\nif (eventCount === 0) {\n    activityLevel = \"idle\";\n} else if (eventCount <= 5) {\n    activityLevel = \"low\";\n} else if (eventCount <= 10) {\n    activityLevel = \"medium\";\n} else {\n    activityLevel = \"high\";\n}\n\n// Create message payload\nmsg.payload = {\n    activity_level: activityLevel,\n    event_count: eventCount,\n    window_size_minutes: windowSizeMinutes,\n    evaluation_timestamp: new Date(currentTime).toISOString()\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 300,
        "wires": [
            [
                "c0c55b5e868ab60c",
                "d7eace35ea90e1e4",
                "322df7dccf748bef",
                "5d82c7a112eaa9a6",
                "e08f0d64153c3b8a",
                "77dcf4e6ba21aa7d"
            ]
        ]
    },
    {
        "id": "d7eace35ea90e1e4",
        "type": "mqtt out",
        "z": "ab1b0ea518202bba",
        "name": "",
        "topic": "smartbin/bin-01/usage/nodered",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8dfeaf083c7d1ada",
        "x": 870,
        "y": 220,
        "wires": []
    },
    {
        "id": "322df7dccf748bef",
        "type": "switch",
        "z": "ab1b0ea518202bba",
        "name": "",
        "property": "payload.activity_level",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "high",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 770,
        "y": 400,
        "wires": [
            [
                "3fd707046743906f",
                "e491c43525235859",
                "fb99721d1d295a7c"
            ]
        ]
    },
    {
        "id": "3fd707046743906f",
        "type": "debug",
        "z": "ab1b0ea518202bba",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 360,
        "wires": []
    },
    {
        "id": "6c88f17a33629253",
        "type": "http request",
        "z": "ab1b0ea518202bba",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://webhook.site/8f417b70-cf6f-4769-866f-5bc8e2d79f16",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1130,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "e491c43525235859",
        "type": "function",
        "z": "ab1b0ea518202bba",
        "name": "function 2",
        "func": "msg.payload = {\n    text: \"Wastebin bin-01 usage is HIGH (\" + msg.payload.event_count + \" events in 10 min)\"\n};\nmsg.headers = {\"Content-Type\": \"Smart-Wastebin/json\"};\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 420,
        "wires": [
            [
                "6c88f17a33629253"
            ]
        ]
    },
    {
        "id": "5d82c7a112eaa9a6",
        "type": "mqtt out",
        "z": "ab1b0ea518202bba",
        "name": "",
        "topic": "smartbin/wastebin-01/alerts",
        "qos": "",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "8dfeaf083c7d1ada",
        "x": 860,
        "y": 300,
        "wires": []
    },
    {
        "id": "753351a20e4d243f",
        "type": "file",
        "z": "ab1b0ea518202bba",
        "name": "",
        "filename": "/data/detected_events_red.log",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 490,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "b474a8ea81270d4a",
        "type": "debug",
        "z": "ab1b0ea518202bba",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 660,
        "wires": []
    },
    {
        "id": "77dcf4e6ba21aa7d",
        "type": "ui-text",
        "z": "ab1b0ea518202bba",
        "group": "9d4f7430afc06749",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "event_count",
        "label": "Activity Level",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "msg.payload.activity_level",
        "valueType": "msg",
        "x": 770,
        "y": 480,
        "wires": []
    },
    {
        "id": "e08f0d64153c3b8a",
        "type": "ui-gauge",
        "z": "ab1b0ea518202bba",
        "name": "",
        "group": "9d4f7430afc06749",
        "order": "1",
        "value": "msg.payload.event_count",
        "valueType": "msg",
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Bin Usage",
        "alwaysShowTitle": false,
        "floatingTitlePosition": "top-left",
        "units": "units",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#5cd65c",
                "text": "",
                "textType": "label"
            },
            {
                "from": "40",
                "color": "#ffc800",
                "text": "",
                "textType": "label"
            },
            {
                "from": "80",
                "color": "#ea5353",
                "text": "",
                "textType": "label"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 770,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "9e0a6ed18a5ea36d",
        "type": "comment",
        "z": "ab1b0ea518202bba",
        "name": "ReadMe",
        "info": "-->payload from producer\n\n-->switch for motion detected or clear\n\n## If detected:\n\n# function 1 determines activity level \n\n-->payload is sent to smartbin/bin-01/usage/nodered\n(can be checked from terminal)\n\n-->payload is sent to smartbin/bin-01/alerts\n(straight to home assistant)\n\n-->also to gauge and text for ui\n(can be checked in \"http://<raspberry-ip>:1881/dashboard)\n\n-->Write events in file\n\n# -->swich for high \n\n-->POST in API\n-->format message iin function 3 and publish notification in dsahboard\n\n\n",
        "x": 160,
        "y": 260,
        "wires": []
    },
    {
        "id": "82c37bdb54271630",
        "type": "ui-notification",
        "z": "ab1b0ea518202bba",
        "ui": "1f73cbac61d226b3",
        "position": "top right",
        "colorDefault": true,
        "color": "#000000",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": true,
        "className": "",
        "name": "High activity notification",
        "x": 1150,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "fb99721d1d295a7c",
        "type": "function",
        "z": "ab1b0ea518202bba",
        "name": "function 3",
        "func": "msg.payload = \"High activity detected in Smart Wastebin!\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 480,
        "wires": [
            [
                "82c37bdb54271630"
            ]
        ]
    },
    {
        "id": "8dfeaf083c7d1ada",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9d4f7430afc06749",
        "type": "ui-group",
        "name": "Smart Wastebin",
        "page": "3763d7b5aae7b009",
        "width": 6,
        "height": 1,
        "order": -1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1f73cbac61d226b3",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "3763d7b5aae7b009",
        "type": "ui-page",
        "name": "Page 1",
        "ui": "1f73cbac61d226b3",
        "path": "/page1",
        "icon": "home",
        "layout": "grid",
        "theme": "5f6b17c78f861622",
        "breakpoints": [
            {
                "name": "Default",
                "px": 0,
                "cols": 3
            },
            {
                "name": "Tablet",
                "px": 576,
                "cols": 6
            },
            {
                "name": "Small Desktop",
                "px": 768,
                "cols": 9
            },
            {
                "name": "Desktop",
                "px": 1024,
                "cols": 12
            }
        ],
        "order": 1,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "5f6b17c78f861622",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "c2aeb4890522fde9",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    }
]